body{
	margin: 0 auto;
}


/*********************
HEADER
**********************/

header{
	display: inline-block;
	position: relative;
	width: 80%;
	margin: -35px 100px;
	font-family: sans-serif;
}


#etsy{
	color: #F25000;
	position: relative;
	float: left;
	font-weight: lighter;
	font-size: 3em;
	font-family: serif;

}


.searchBar{
	float:left;
	margin-top: 40px;
	margin-left: 10px;
	width: 25%;
	height: 30px;
	position: relative;
	border-top-left-radius: 3px; 
	border-bottom-left-radius: 3px; 
	border: 1px solid #C4C0BC;
	background: #F3F3ED;

}

.searchBtn{
	border: none;
	color: white;
	background: rgb(38, 148, 181);
	font-size: 1em;
	font-weight: bold;
	position: relative;
	top: 40px;
	right: 2px;
	padding: .5em .9em;
	border-top-right-radius: 3px; 
	border-bottom-right-radius: 3px; 
	font-weight: normal;
}

/*********************
HEADER: SHOPPING
**********************/
.shopping {
	float: right;
	list-style: none;
	position: relative;
	top: 20px;
	width: 35%;
}


.shopping li {
	display: inline;
	font-size: 1em;
	padding-left: 15px; 

}

.shopping a {
	text-decoration: none;
	color: rgb(38, 148, 181);

}

.shopping a:hover {
	text-decoration: underline;
}

#signIn{
	border:1px solid #2694B5;
	background: transparent;
	color:  #2694B5;
	font-size: 1em;
	padding: 3%;
	border-radius: 3px;
}

#signIn:hover {
	background: #FAFFFF;
}


.cart {
	float: right;
	position: relative;
	border-left:1px solid lightgrey;
	color: grey;
}
.cart a {
	color: #535353;
	font-weight: lighter;

}


.cart-pic {
	display: block;
	font-size: 1.5em;
}

.cart:hover {
	color: black;
}


.cart a:hover {
	color: black;
	text-decoration: none;
}

/*************
HEADER: NAV;
**************/
#header{
	position: relative;
}


#header-nav ul{
	list-style: none;
	border-top:1px solid lightgrey; 

	color: grey;
	padding: 10px;
	font-family: sans-serif;
}

#header-nav li {
	display: inline-block;
	padding: 5px;
	font-size: 1em;
	position: relative;
	left: 85px;

	
}

#header-nav a {
	text-decoration: none;
	color: grey;
}

#header-nav a:hover {
	color: black;
}


/*********************
BODY GENERAL
**********************/



.mainContainer{
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 900px;
	background: #F3F3ED;
	margin: -18px auto;
	border-top: 1px solid #D4D4D0;
}


.content {
	margin: 30px 100px;
	padding-top: 15px;
	width: 80%; 
	position: relative;
	background: rgba(100,100,255, .4);
	
}

.content span {
	font-weight: bold;
	position: relative;
	bottom: 5px;
	color: darkgrey;
}


.catList {
	width: 25%;
    border-radius: 2px;
    background: rgba(200, 0, 0,.4);
    padding: 18px;
    font-weight: bold;
}




ul.catLi{
	list-style: none;
}

.catLi li{
	list-style: none;
}

.catLi a{
	text-decoration: none;
	color: #2694B5;
}




